.container-card {
  background-color: #282c34;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 490px !important;
}

.img-movie {
  width: 200px;
}

.title {
  padding: 10px;
  padding-bottom: 0;
}

.button-card {
  width: 200px !important;
  margin: auto;
}
