.container-card {
  margin: 20px;
  background-color: #282c34;
  /* border: solid red; */
  border-radius: 5px;
}

.picture,
.title {
  padding: 20px;
  width: 200px;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.title {
  color: white;
}
